{% extends "template.html" %}
{% block conteudo %}
<form action="{{url_for('atualizar')}}" method="post" enctype="multipart/form-data">

  <figure class="img thumbnail col-md-4">
    <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}">
    <figcaption>
      <label class="fileContainer">
        Mudar Capa
        <input type="file" name="arquivo" accept=".jpg">
      </label>
    </figcaption>
  </figure>

  <fieldset>
    {# input escondido usado com flask puro #}
    {# <input type="hidden" name="id" value="{{jogo.id}}"> #}
    <input type="hidden" name="id" value="{{id}}">
    {{ form.csrf_token() }}
    <div class="form-group">
      {# Campos do formulário usando html puro #}
      {# <label for="nome">Nome</label> #}
      {# <input type="text" id="nome" name="nome" class="form-control" value = "{{jogo.nome}}"> #}
      {# Campos do formulário usando flask-wtf #}
      {{ form.nome.label(class="form-label") }}
      {{ form.nome(class="form-control") }}
    </div>
    <div class="form-group">
      {# <label for="categoria">Categoria</label> #}
      {# <input type="text" id="categoria" name="categoria" class="form-control" value = "{{jogo.categoria}}"> #}
      {{ form.categoria.label(class="form-label") }}
      {{ form.categoria(class="form-control") }}
    </div>
    <div class="form-group">
      {# <label for="console">Console</label> #}
      {# <input type="text" id="console" name="console" class="form-control" value = "{{jogo.console}}"> #}
      {{ form.console.label(class="form-label") }}
      {{ form.console(class="form-control") }}
    </div>
    <div class="form-group">
      {# <button type="submit" class="btn btn-primary btn-salvar">Salvar</button> #}
      {# <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a> #}
      {{ form.salvar(class="btn btn-primary") }}
      <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
    </div>
  </fieldset>

</form>
{% endblock %}